
$icons: (
  'ic-search': ic-search($amazon-dark),
);

.ui-button {
  padding: 0 24px;
  border-radius: 6px;
  font: 600 16px/42px var(--font-inter);
  text-align: center;
  white-space: nowrap;
  background: var(--amazon-yellow, red) 12px center / 20px no-repeat;

  &.-icon {
    padding: 0 18px 0 (12px + 20px + 6px);
  }

  @each $key, $value in $icons {
    &.#{$key} {
      background-image: url('#{$value}');
    }
  }
}
