
.ui-button {
  padding: 0 24px;
  border-radius: 6px;
  font: 16px/36px var(--font-inter);
  text-align: center;
  white-space: nowrap;
  background: var(--primary, red);

  &.-amazon {
    border: 1px solid;
    border-color: #c89411 #b0820f #99710d;
    color: #111;
    background: linear-gradient(#f8e3ad, #eeba37);
    box-shadow: inset 0 1px 0 0 #fcf3dc;
  }
}
