
.ui-input {
  height: 42px;
  border: 2px solid var(--light-200, red);
  border-radius: 6px;
  font: 16px/1 var(--font-inter);
  text-indent: 18px;
  transition: border-color 100ms;

  &::placeholder {
    color: var(--light-400, red);
  }

  &:focus {
    border-color: var(--amazon-yellow, red);
    outline: none;
  }
}
