
$white: #fff;
$black: #000;

/* Amazon Color */
$amazon-blue: #00a8e1;
$amazon-fire: #fc4c02;
$amazon-green: #00bd93;
$amazon-orange: #f90;
$amazon-purple: #9146ff;
$amazon-yellow: #febd69;

/* Amazon Dark Color */
$amazon-light: #e6e6e6;
$amazon-dark: #131921;
$amazon-navy: #232f3e;

/* Desaturated Light */
$light-600: lab(70, 0, -10);
$light-500: lab(75, 0, -9);
$light-400: lab(80, 0, -8);
$light-300: lab(85, 0, -7);
$light-200: lab(90, 0, -6);
$light-100: lab(95, 0, -5);

/* Desaturated Dark */
$dark-600: lab(5, -15, -20);
$dark-500: lab(10, -10, -20);
$dark-400: lab(15, -5, -20);
$dark-300: lab(20, 0, -20);
$dark-200: lab(30, 0, -20);
$dark-100: lab(40, 0, -20);

:root {
  --white: #{$white};
  --black: #{$black};

  /* Amazon Colors */
  --amazon-blue: #{$amazon-blue};
  --amazon-fire: #{$amazon-fire};
  --amazon-green: #{$amazon-green};
  --amazon-orange: #{$amazon-orange};
  --amazon-purple: #{$amazon-purple};
  --amazon-yellow: #{$amazon-yellow};

  /* Amazon Dark Colors */
  --amazon-light: #{$amazon-light};
  --amazon-dark: #{$amazon-dark};
  --amazon-navy: #{$amazon-navy};

  /* Destructured Amazon Dark Colors */
  --amazon-dark-rgb: #{destructure-color($amazon-dark)};
  --amazon-navy-rgb: #{destructure-color($amazon-navy)};

  /* Theme Colors */
  --primary: var(--amazon-orange);

  /* Desaturated Light */
  --light-600: #{$light-600};
  --light-500: #{$light-500};
  --light-400: #{$light-400};
  --light-300: #{$light-300};
  --light-200: #{$light-200};
  --light-100: #{$light-100};

  /* Desaturated Dark */
  --dark-600: #{$dark-600};
  --dark-500: #{$dark-500};
  --dark-400: #{$dark-400};
  --dark-300: #{$dark-300};
  --dark-200: #{$dark-200};
  --dark-100: #{$dark-100};

  /* Fonts */
  --font-inter: 'Inter', sans-serif;
  --font-monospace: 'Source Code Pro', monospace;
}
